@page "/home"

<PageTitle>Home</PageTitle>

<div class="card-group" style="gap: 20px;">
    <div class="card">
        <img src="./Asset/analysis.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Analytics</h5>
            <p class="card-text">
                Pemantauan dan analisis data integritas untuk mengidentifikasi tren, mengukur efisiensi, dan mendukung pengambilan keputusan berbasis data.
            </p>
        </div>
        <div class="card-footer">
            <a href="/home/analytics" class="btn btn-primary">
                View Details
            </a>
        </div>
    </div>
    <div class="card">
        <img src="./Asset/oil.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Heavy Oil</h5>
            <p class="card-text">Heavy oil adalah jenis minyak bumi yang memiliki densitas dan viskositas tinggi,
                sehingga lebih kental dan sulit mengalir dibandingkan dengan minyak ringan.</p>
        </div>
        <div class="card-footer">
            <a href="/home/heavyoil" class="btn btn-primary">
                View Details
            </a>
        </div>
    </div>

    <div class="card">
        <img src="./Asset/pipe.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SLS</h5>
            <p class="card-text">SLS adalah metode stimulasi termal yang digunakan untuk meningkatkan produksi minyak,
                terutama heavy oil.</p>
        </div>
        <div class="card-footer">
            <a href="/home/sls" class="btn btn-primary">
                View Details
            </a>
        </div>
    </div>

    <div class="card">
        <img src="./Asset/oil-tank.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SLN</h5>
            <p class="card-text">Produksi alami setelah stimulasi; bisa berarti aliran tanpa pompa.</p>
        </div>
        <div class="card-footer">
            <a href="/home/sln" class="btn btn-primary">
                View Details
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Card 1 Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Detail information for card 1...</p>
                <p>You can add more content here or navigate to another page.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/page1" class="btn btn-primary">Go to Page 1</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Card 2 Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Detail information for card 2...</p>
                <p>You can add more content here or navigate to another page.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/page2" class="btn btn-primary">Go to Page 2</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Card 3 Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Detail information for card 3...</p>
                <p>You can add more content here or navigate to another page.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/page3" class="btn btn-primary">Go to Page 3</a>
            </div>
        </div>
    </div>
</div>